body{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}



.outer-container{
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.inner-container{
    background-color: white;
    width: 20rem;
    height: 32rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


img{
    width:100%;
    object-fit: contain;
    border-radius: 1.5rem;
}

.inner-container-text{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.text-1{
    font-size: 20px;
    font-weight: 700;
}

.text-2{
   color: rgb(173, 172, 172);
}


.attribution{
    position: fixed;
    bottom: 0;
    padding: 1rem 1rem;
    
}